#loginbt {
    display: inline-flex;
    float: right;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    padding: 14px 16px;
    background-color: none;
    font-family: 'Times New Roman';
    font-size: 16px;
    background-color: white;
}
#loginbt:hover{
    background-color:#5b0f0f;
    color: white;
}
.login .topnav {
    display: inline-block;
}
.topbar{
    text-align: center;
    background-size: cover;
    padding: 5px;
}
.main{

    width:100%;  
    display:flex;
    text-align:left;
    background-image: url(bg.jpg);
    background-size: cover;
    height: 600px;
    padding-left: 30px;
    padding-top: 150px;
  }
.icon1, .icon2, .icon3, .icon4{
    display: inline-block;
  }
.icon1{
  height: 250px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-left: 250px;
  margin-top: 0;
}
.icon1:hover{
  transform: scale(1.1);
}
.icon2{
  height: 250px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-top: 0;
}
.icon2:hover{
  transform: scale(1.1);
}
.icon3{
  height: 250px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-top: 0;
}
.icon3:hover{
  transform: scale(1.1);
}
.icon4{
  height: 250px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-top: 0;
  margin-right: 100px;
}
.icon4:hover{
  transform: scale(1.1);
}
.abc {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.socialmedia{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
#ss1, #ss2, #ss3 {
  display: inline-block;
}
#ss1{
  height: 150px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-left: 400px;
  margin-top: 0;
  margin-bottom: 0;
}
#ss2{
  height: 150px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
#ss3{
  height: 150px;
  width: 150px;
  text-align: center;
  margin: 70px;
  margin-top: 0;
  margin-bottom: 0;
}
#ss1:hover{
  transform: scale(1.1);
}
#ss2:hover{
  transform: scale(1.1);
}
#ss3:hover{
  transform: scale(1.1);
}


.location{
  background-image: url(map.png);
  background-size: cover;
  padding: 150px;
  padding-bottom: 75px;
  padding-left: 125px;
  font-size: 30px;
  color: #5b0f0f;
}



#roll{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 4rem;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #1D3557;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }
.description{
    background-image: url(bg2.jpg);
    background-size: cover;
    padding: 100px;
    font-size: 17px;
    font-family: 'Times New Roman';
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
  }
li {
    float: left;
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover {
    background-color: #5b0f0f;
    color: white;
  }

.program1, .program2, .program3, .program4 {
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    margin: 50px;
    padding: 30px;
}
img{
    height: 125px;
    width: 300px;
}
.program1:hover{
    transform: scale(1.2) ;
}
.program2:hover{
    transform: scale(1.2)  ;
}
.program3:hover{
    transform: scale(1.2);
}
.program4:hover{
    transform: scale(1.2) ;
}
#graphiti {
  height: 100px;
  background-image: url(grap.jpg);
  background-size: contain;
  width:100%
}
.blackbar{
  background-color: black;
  color: white;
  margin-top: 50px;
}
#logo, .bbc1, .bbc2, .bbc3{
  display: inline-block;
  margin-bottom: 50px;
  align-items: flex-start;
}
.bbc1{
  height: 250px;
  width: 200px;
  margin: 50px;
  align-items: flex-start;
}
.bbc2{
  height: 250px;
  width: 200px;
  margin: 50px;
  align-items: flex-start;
}
.bbc3{
  height: 250px;
  width: 200px;
  margin: 50px;
 padding-top: 10px;
  align-items: flex-start;
}
#logo{
  margin: 100px;
  margin-top: 0px;
  margin-left: 200px;
  align-items: stretch;
}